{% extends 'bootstrap/base.html'%}
{% import 'macros.html' as macro %}
{%block styles %}
{{super()}}
<!--Importing the simple mde css and js files  -->
{{ simplemde.css}}
{{ simplemde.js }}

{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>Pitches App</title>
        {% endif %}
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}">
    
</head>

<header>
    {% block navbar %}
    {% include "nav.html" %}
    {% endblock %}
</header>
<body>
    {% block content %}
    {% endblock %}
    
    
</body>
</html>