{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>Pitches App</title>
    {% endif %}
    {% block styles%}
        {{ super() }}
    
    
    {% endblock %}
</head>
<header>
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}
</header>
{%block content%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
<body>

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Music</h5>
            <p class="card-text">As shocking as Eminem's lyrics are, the details of his personal life are just as surprising. From a traumatic experience
            as a kid to the unbelievable rise through rap's underground, Eminem jumped from the amateurs to the pros like few
            others. But along the way, the rapper struggled with the pressures of fame, both personally and against other musicians.
            This is the untold truth of Eminem.
            
            </p>
            <a href="#" class="btn btn-primary">Marshal Mathers</a>
        </div>
    </div>
</div>
<div class="container">

    <div class="card" style="width: 40rem;">
        <div class="card-body">
        <h5 class="card-title">Interview</h5>
        <p class="card-text">The candidate interview is a vital component of the hiring process. To hire the most qualified candidates, human
        resource professionals and hiring managers must be well informed on how to conduct interviews effectively. This article
        provides an overview of various interviewing methods, both structured and unstructured. It discusses the most widely
        used types of interviewing—telephone prescreen, direct one-on-one and panel interviews—and explains the objectives and
        techniques of behavioral, competency-based and situational approaches to interviewing.</p>
        <a href="#" class="btn btn-primary">Carlos</a>
        </div>
    </div>
</div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Product</h5>
        <p class="card-text">Experience designers are told to follow standard opertaing proceduresand customerswith programmed responses</p>
        <a href="#" class="btn btn-primary">Kelleher</a>
        </div>
    </div>
</div>
  


    <h2 style = "color: green;"class="text-center"><u>Make your favourite pitch</u></h2>
    <a href="/create_new">Create New Pitch</a>
    <div class="row">
        <div class="col-md-6">
            {% for pitch in pitches %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Category : {{ pitches.category }}</h3>
                    <p class="card-text">Pitch : {{ pitch.context }}</h4>
                    <p class="card-text">Posted by : {{users.username}}</p>
                    <a class=" btn btn-info" href="{{ url_for('main.new_comment', pitch_id = pitch.id)}}">Comment</a>
                    <a class=" btn btn-info"
                        href="{{url_for('main.like',id = pitch.id)}}">Upvotes:{{pitch.upvote.count()}}</a>
                    <a class=" btn btn-danger"
                        href="{{url_for('main.dislike',id = pitch.id)}}">Downvotes:{{pitch.downvote.count()}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


        {% endfor %}

    


    
    
</body>

{%endblock%}

</html>